<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="imagens\logo.png" alt="Logo Mães Solidárias">
        <a href="sobre">Sobre nós</a>
        <a href="Contato.html">Contato</a>
        <a href="faq.html">FAQ</a>
        <a href="loja.html">Lojinha</a>
        <a href="account/login.html">Login</a>
    </header>

    <h1>Fazer o bem sem olhar a quem</h1>
    <video src="imagens/video_maes.mp4"></video>
    <div class="pq_doar">
        <h2>Por que doar?</h2>
        <p> O grupo das mães Solidárias, que atua há mais de 8 anos, 
            realiza diversos projetos socias, buscando ajudar comunidades em estado vulnerável</p>
    </div>
    <div class="eventos">
        <h2>Eventos</h2>
        <ul>
            <li>Beach</li>
            <li>Bazar beneficente</li>
            <li>Rifa Soliária</li>
        </ul>
    </div>
    <div class="Parcerias"">
        <h2>Parcerias</h2>
        <ul>
            <li>Entreposto</li>
            <li>Chocolat Du Jour</li>
            <li>Cacau show</li>
            <li>Insper Jr</li> 
            <li>Mistral</li>
            <li>Colégio Santa Cruz</li>
            <li>Agaxtur</li>
            <li>Matos filho</li>
        </ul>
    </div>
    <div class="Resultados"></div>
    <h2>Resultados</h2>
    <ul>
        <li>Doação de cadeiras</li>
        <li>Depoimentos</li>
    </ul>
</body>
</html>