{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loja.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Produtos</title>
</head>
<header>
    <img src="../static/imagens/logo.png" alt="Logo Mães Solidárias" class="logo">
</header>
<body>
    <h1 class="main-title" >Loja Maẽs Solidárias</h1>
    <h3 class="descricao">Todos os valores arrecadados através de nossas ações são convertidos em doações e ações beneficentes para instituições idôneas, com resultados divulgados através de comunicado oficial, grupos de whats app e pelas redes sociais</h3>
    <ul>
        {% for produto in produtos %}
        <li>
            <h2>{{ produto.nome }}</h2>
            <p>Descrição: {{ produto.descricao }}</p>
            <p>Preço: R$ {{ produto.preco }}</p>
            <p>Quantidade: {{ produto.quantidade }}</p>
            {% if produto.imagem %}
            <img src="./{{ produto.imagem.url }}" alt="{{ produto.nome }}">
            {% endif %}
        </li>
        {% empty %}
        <li>Nenhum produto disponível.</li>
        {% endfor %}
    </ul>
    <button>
        <a href="add">Adicionar Produto</a>
    </button>
</body>
</html>
