{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'loja/css/password_reset.css' %}">
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
    </head>
    <header>
        <img src="templates/imagens/logo.png" alt="Logo Mães Solidárias" class="logo">
    </header>
    <h1 class="main-title" >Redefinir senha</h1>
<body>
<div class="redefinir-form">
{% load i18n allauth account %}
{% block head_title %}
    {% trans "" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% trans "Esqueceu a sua senha?  Preencha o seu email abaixo para enviarmos um email para que você possa redefinir a sua senha" %}
    </p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Redefinir a minha senha' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    
{% endblock content %}
</body>
</html