{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_confirmation.css' %}">
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Senha Redefinida</title>
    </head>
    <header>
        <img src="templates/imagens/logo.png" alt="Logo Mães Solidárias" class="logo">
    </header>
<h1 class="main-title" >Senha Redefinida</h1>
<body>
<div class="redefinir-form">
Mandamos um email. Caso não recebido, verifique o seu spam. <br><br>
Caso contrário, entre em contato conosco.

</div>
</body>
</html>