<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>

<div class="container">
    <img src="caminho_para_sua_foto.jpg" alt="Foto de Perfil" class="profile-pic">
    <div class="profile-info">
        <div class="name">Seu Nome</div>
        <div class="description">
            Uma breve descrição sobre você. Isso pode incluir sua profissão, hobbies, ou qualquer coisa que você gostaria que as pessoas soubessem.
        </div>
        <div class="hobbies">
            Hobbies e Interesses:
            <ul>
                <li class="hobby">Hobby 1</li>
                <li class="hobby">Hobby 2</li>
                <li class="hobby">Hobby 3</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
