:root {
  --black: black;
  --neon-orange: #ffaa80;
  --neon-purple: #9f80ff;
  --secondary-purple: #f2f3ff;
  --secondary-blue: #f2f9ff;
  --primary-purple: #e0e2ff;
  --primary-blue: #e0f0ff;
  --primary-orange: #ffede0;
  --grey: grey;
  --blue: #e5eaff;
  --orange: #fff0e5;
  --white: white;
  --silver: #bfbfbf;
  --secondary-orange: #ebedf2;
}


body {
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 2vw;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20vh;
}

.section.contact-section {
  height: 85vh;
  min-height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20vh;
  padding-bottom: 20vh;
  position: relative;
}

.heading-medium {
  height: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.heading-xlarge {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: .3em;
  margin-bottom: .3em;
  font-size: 3.45em;
  line-height: .8;
}

.about-image {
  z-index: 1;
  width: 100%;
  height: 115%;
  max-height: none;
  min-height: auto;
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-clip: border-box;
  border-radius: 0;
  flex: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0%;
}

.photo-address-socials {
  height: 25em;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  display: flex;
  position: relative;
}

.main-container {
  max-width: 83.33%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  display: block;
}

.main-container.row {
  height: auto;
}

.main-container.projects-wrapper {
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 0;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 25vh;
  left: auto;
  overflow: visible;
}

.main-container.honors-wrapper {
  max-width: 100%;
  align-items: center;
  margin-bottom: 15vh;
  display: block;
  overflow: visible;
}

.main-container.contact-wrapper {
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.main-container.bio-text {
  white-space: normal;
  margin-top: 0;
}

.large-paragraph {
  color: #000;
  text-align: justify;
  margin-bottom: 2em;
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
}

.experience-card {
  width: 100%;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  border-radius: 2.6em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: flex-end;
  margin-bottom: 0;
  padding: 2em;
  display: flex;
  position: relative;
}

.experience-card.gradient-variation-2 {
  z-index: 1;
  border: .1em solid var(--neon-orange);
  overflow: hidden;
}

.experience-card.gradient-variation-1 {
  z-index: 1;
  border: .1em solid var(--neon-purple);
  z-index: 1;
  border: .1em solid #9f80ff;
  overflow: hidden;
}

.experience-card.gradient-variation-2 {
  z-index: 1;
  z-index: 1;
  border: .1em solid #ffaa80;
  overflow: hidden;
}

.experience-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: .35em;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
}

.row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  display: flex;
}

.row.main-container {
  display: block;
}

.experience-list-wrapper {
  width: 100%;
  grid-column-gap: 0em;
  grid-row-gap: 1em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}


.award-img {
  width: 19rem;
  height: 25rem;
  max-width: none;
  object-fit: cover;
  border-radius: 2rem;
  margin-bottom: 0;
  display: block;
}

.award-img.award-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5em;
}

.project-title {
  width: 100%;
  color: #000;
  white-space: normal;
  align-items: center;
  padding-right: 0;
  font-size: .9em;
  line-height: 1.4;
  display: flex;
}

.section-title {
  height: 100%;
}

.section-title.honors-grid-heading {
  width: 100%;
  height: 3em;
  max-width: 83.33%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  flex: none;
  order: -1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: start;
  justify-content: space-between;
  align-items: start;
  justify-items: start;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  overflow: hidden;
}

.award-item {
  margin-right: 2.3rem;
}

.award-item.grid-awards-item {
  width: 45%;
  width: 100%;
  height: 18em;
  margin-right: 0;
  position: relative;
}

.visit-award-text {
  color: #fff;
  margin-right: .5em;
  font-size: .65em;
  line-height: 1;
}

.small-arrow {
  width: .45em;
}

.contact-info {
  width: 45%;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  margin-right: auto;
  display: flex;
}

.contact-socials {
  width: 45%;
  height: 100%;
  grid-column-gap: 0rem;
  grid-row-gap: 0em;
  flex-wrap: wrap;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.contact-heading {
  margin-top: 0;
  margin-bottom: .8em;
  font-size: 2.6em;
  font-weight: 500;
  line-height: .8;
}

.mail-to-wrapper {
  width: 100%;
  height: 4.9rem;
  max-width: 33rem;
  background-color: #0073e5;
  border: 0 #000;
  border-radius: 2.4rem;
  flex: none;
  align-items: center;
  margin-bottom: 5rem;
  padding-left: 2rem;
  display: flex;
  position: relative;
}

.link-2 {
  color: #fff;
  font-size: .85em;
  line-height: 1;
  text-decoration: none;
}

.copy-btn {
  width: 3.3em;
  height: 3.3em;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: flex;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: .2em;
}

.address {
  font-size: .75em;
}

.contact-address-tell {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  display: flex;
}

.social-footer-item {
  width: 45%;
  height: 1.3em;
  flex: 0 auto;
  align-self: auto;
  font-size: 1.3em;
  line-height: 1;
  text-decoration: none;
  overflow: hidden;
}

.about-image-wrapper {
  z-index: 1;
  width: 19.1em;
  height: 26em;
  max-height: none;
  max-width: 100%;
  min-height: 50vh;
  border-radius: 11em;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 50%;
  right: 0%;
  overflow: hidden;
  transform: perspective(1000px)translate(-50%);
}

.medium-arrow {
  width: 1.1rem;
  transform: rotate(45deg);
}

.phone {
  font-size: .75em;
  text-decoration: none;
}

.education-card {
  width: 50%;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  background-image: none;
  border-radius: 2.6em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-bottom: 0;
  padding: 3em 2em;
  display: grid;
}

.education-card.gradient-variation-1 {
  background-image: linear-gradient(290deg, var(--blue), white);
}

.education-card.gradient-variation-1 {
  background-image: linear-gradient(290deg, #e5eaff, #fff);
}

.education-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: .35em;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2;
}

.education-place {
  color: #000;
  text-align: center;
  font-size: .9em;
  font-weight: 500;
}

.heading-large {
  width: auto;
  color: #000;
  flex: 0 auto;
  align-self: auto;
  margin-top: 0;
  margin-bottom: .8em;
  font-size: 2.6em;
  font-weight: 500;
  line-height: 1.3;
}

.mail-to-wrap {
  width: 100%;
  height: 3.7em;
  max-width: none;
  border-radius: 2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.4em;
}

.education-list-wrapper {
  width: 100%;
  height: auto;
  max-width: none;
  grid-column-gap: 1em;
  border-radius: 2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.projects-grid-row {
  width: 100%;
  float: none;
  clear: none;
  flex-wrap: wrap;
  flex: 0 auto;
  display: block;
}

.projects-grid-list {
  grid-row-gap: 2em;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  display: flex;
}

.project-grid-item {
  width: 49%;
  flex: 0 auto;
  margin-right: 0;
  position: static;
}

.project-img-link {
  width: 100%;
  height: 20em;
  border-radius: 2em;
  margin-bottom: .2em;
  position: relative;
  overflow: hidden;
}

.award-img-link {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
  overflow: hidden;
}

.award-heading {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1.2em;
  font-size: 3em;
  font-weight: 500;
  line-height: .9;
}

.award-heading.grid-honors-heading {
  flex: none;
  margin-bottom: 0;
  margin-right: 0;
  line-height: 1;
}

.award-heading.grid-honors-heading.heading-large {
  margin-top: 0;
  line-height: 1;
  display: block;
}

.position-slider {
  height: 2em;
  line-height: 0;
  position: static;
  overflow: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 1em;
}

.navbar-container {
  max-width: 83.33%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.home-link {
  order: -1;
  text-decoration: none;
}

.home-link.w--current {
  order: -1;
}

.about-bio-section {
  padding-top: 0;
  padding-bottom: 5vh;
  overflow: hidden;
}

.infinite-loop-container {
  max-width: 100%;
  margin-bottom: 2.5em;
  display: flex;
}

.infinite-loop-container.works-text-loop {
  margin-bottom: 2.5em;
  overflow: visible;
}

.text-loop-part {
  width: auto;
  flex: none;
  order: -1;
  display: flex;
}

.primary-loop-text {
  margin-right: .5em;
  font-size: 3.2em;
  font-weight: 500;
}

.secondary-loop-text {
  color: #bfbfbf;
  margin-right: .5em;
  font-size: 3.2em;
  font-weight: 500;
}

.project-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lojinha-grid-section {
  margin-bottom: 0;
  padding-top: 5vh;
  padding-bottom: 10vh;
  overflow: hidden;
}

.about-section {
  padding-top: 5vh;
  padding-bottom: 20vh;
}

.experience-section, .education-section {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.awards-section {
  padding-top: 0;
  padding-bottom: 5vh;
  overflow: hidden;
}

.titles-vertical-slider {
  line-height: 1;
}

.slide-nav-2 {
  display: none;
}

.awards-desktop-slider {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  flex: 0 auto;
  order: 1;
  padding-left: 1.5%;
  padding-right: 0%;
  font-size: 1.8vw;
}

.left-arrow {
  width: .5em;
  height: .5em;
  background-image: linear-gradient(to bottom, var(--black), var(--black));
  border-radius: 50%;
  padding: .8em;
  top: -2.25em;
  bottom: auto;
  left: auto;
  right: 4.2em;
}

.prev-award-icon {
  color: var(--white);
  font-size: .8em;
}

.right-arrow {
  width: .5em;
  height: .5em;
  background-color: var(--black);
  border-radius: 50%;
  padding: .8em;
  top: -2.25em;
  bottom: auto;
  left: auto;
  right: 2.2em;
}

.next-award-icon {
  color: var(--white);
  font-size: .8em;
}

.award-slider-item {
  width: 12.75em;
  height: auto;
  margin-right: 1em;
  padding: 0 0 1.5em;
}

.award-slider-mask {
  width: 60vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  padding-left: 0%;
  padding-right: 8.33%;
  overflow: visible;
}

.visit-award-link {
  background-color: #000;
  border-radius: 1.8em;
  padding: .8em;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 4%;
  left: auto;
  right: 5%;
}

.award-image-wrapper {
  margin-bottom: .25em;
  position: relative;
}

.award-title {
  color: #000;
  white-space: nowrap;
  font-size: .8em;
  line-height: 1;
  display: inline-block;
}

.award-item-container {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 1em;
  line-height: 1;
  display: flex;
}

.outline-button {
  height: 3.4em;
  min-width: 7em;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 2px solid #000;
  border-radius: 2em;
  flex: none;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-size: .8em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.button-text-slide-container {
  z-index: 10;
  width: 100%;
  height: auto;
  min-height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
  position: relative;
}

.button-text {
  width: 100%;
  height: 3.3em;
  color: var(--black);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.button-text.dark-text {
  color: var(--white);
  font-style: normal;
  text-decoration: none;
}

.hover-background {
  background-color: var(--black);
  border-radius: 3em;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  transform: translate(0, 100%);
}

.show-all-projects-container {
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  display: flex;
}

.footer-link-slider {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  overflow: visible;
}

.footer-link-text {
  height: 1.3em;
  align-items: center;
  display: flex;
}

.experience-text {
  width: 50%;
  text-align: justify;
  font-size: .7em;
}

.experience-moving-card {
  width: 47%;
  border-radius: 2.6em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2em;
  display: flex;
  position: absolute;
  top: -.1em;
  bottom: -.1em;
  left: -.1em;
  transform: translate(100%);
}

.experience-moving-card.gradient-variation-1 {
  border: .1em solid var(--neon-purple);
  background-image: linear-gradient(112deg, var(--white), var(--blue));
  transform: none;
}

.experience-moving-card.gradient-variation-2 {
  border: .1em solid var(--neon-orange);
  background-image: linear-gradient(112deg, var(--white), var(--orange));
  transform: none;
}

.experience-moving-card.gradient-variation-1 {
  background-image: linear-gradient(112deg, #fff, #e5eaff);
  border: .1em solid #9f80ff;
  transform: none;
}

.experience-moving-card.gradient-variation-2 {
  background-image: linear-gradient(112deg, #fff, #fff0e5);
  border: .1em solid #ffaa80;
  transform: none;
}

.award-heading-item {
  height: 3em;
  line-height: 1;
}

.logo-icon {
  width: 4.8em;
}

.reviews-row {
  width: 152%;
  justify-content: space-between;
  margin-bottom: 1.2em;
  display: flex;
  transform: translate(-33px);
}

.reviews-row.to-right {
  width: 220%;
  margin-bottom: 1em;
  padding-top: 0;
}

.reviews-row.to-left {
  width: 220%;
  margin-bottom: 0;
}

.reviews-block {
  width: 17.5em;
  height: 10em;
  min-height: 33.2px;
  min-width: 33.2px;
  border-style: solid;
  border-width: .1em;
  border-radius: 1.9em;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.4em;
  display: flex;
}

.reviews-block.second-row-border {
  border-color: var(--black);
}

.review-header {
  justify-content: space-between;
  margin-bottom: .5em;
  display: flex;
}

.customer-name {
  text-align: left;
  text-transform: none;
  font-size: .9em;
  font-weight: 700;
  line-height: 10;
}

.reviews-container {
  max-width: 100%;
}

.template-button {
  z-index: 999;
  width: 6em;
  height: 5em;
  color: var(--black);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: 400;
  line-height: 1;
  display: flex;
  position: fixed;
  bottom: -.2em;
  right: .3vw;
}

.menu-button {
  padding: 0;
  display: block;
}

.image-3 {
  width: 1em;
}

.link-mask {
  height: 3.4em;
  color: #000;
  transition: color .2s cubic-bezier(0, 0, 0, .5);
  overflow: hidden;
}

.link-mask.color5:hover {
  color: #50f;
}

.link-mask.color2:hover {
  color: #53a653;
}

.link-mask.color1 {
  transition: color .2s cubic-bezier(0, 0, 0, .5);
}

.link-mask.color1:hover {
  color: #ff6767;
}

.link-mask.color4:hover {
  color: #f2b63d;
}

.link-mask.color3:hover {
  color: #17a1e5;
}

.nav-link-bg {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.nav-link-bg.color4 {
  background-color: #fff8eb;
}

.nav-link-bg.color5 {
  background-color: #f1ebff;
}

.nav-link-bg.color3 {
  background-color: #ebf8ff;
}

.nav-link-bg.color1 {
  background-color: #ffebeb;
  position: absolute;
}

.nav-link-bg.color2 {
  background-color: #e5ffe5;
}

.nav-link-bg.color1 {
  background-color: #ffebeb;
}

.links-wrapper {
  z-index: 1;
  height: 100vh;
  grid-row-gap: 0em;
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  display: flex;
  position: relative;
}

.bm-text-link {
  font-size: 2.6em;
}

.nav-menu-3 {
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.nav-right-container {
  z-index: 3;
  width: auto;
  height: 3em;
  color: var(--black);
  -webkit-text-stroke-color: var(--black);
  background-color: #fff;
  border-radius: 14px;
  align-self: center;
  align-items: center;
  margin-top: .72em;
  display: flex;
  position: fixed;
  top: 0;
  right: 8.33vw;
}

.nav-right {
  height: 3em;
  position: fixed;
  top: 0;
  right: 8.33vw;
}

.nav-right.middle-flex {
  height: auto;
  grid-column-gap: .7em;
  height: auto;
  grid-column-gap: .7em;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2em;
  padding: .3em 1em;
  position: static;
}

.navbar-3 {
  height: 3em;
  background-color: rgba(0, 0, 0, 0);
  justify-content: flex-end;
  align-items: center;
  margin-top: .72em;
  padding-left: 8.33vw;
  padding-right: 17.9vw;
  display: flex;
}

.outline-button-2 {
  height: 3.4em;
  min-width: 7em;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 2px solid #000;
  border-radius: 2em;
  flex: none;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-size: .8em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.button-text-2 {
  width: 100%;
  height: 3.3em;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.button-text-2.dark-text {
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.hover-background-2 {
  background-color: #000;
  border-radius: 3em;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  transform: translate(0, 100%);
}

.image-8 {
  max-width: 50%;
  border-radius: 14px;
}

.button-3 {
  background-color: var(--black);
  border-radius: 14px;
}

.bold-text-3 {
  text-align: justify;
  font-size: .8em;
}

.bold-text-4 {
  text-align: left;
}